# Virtual Environments
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
